.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

body{
  /* background-color: rgb(160, 114, 160); */
  backdrop-filter: blur(8px);
  background-image: url('image/iter.jpg');
  
}
.page{
  height:50px;
  resize:vertical

}
.head { 
  text-align: center;
  display: grid;
  grid-area: header;
  font-size: 20px;
  text-align: center;
  width: 44%;
  margin: 0 auto;

}
.submit-button {
  display: block;
  padding: 0.35rem;
  background: rgb(68, 104, 128);
  margin: 0 auto;
  width: 40%;
}
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.form-style{
 text-align: left;
  width: 20%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  border-width: 1px;
}
.space{
display: grid;
}

